In [1]:
top_tier_df = pd.read_csv("G:/My Drive/Practical Data Engineering - 507/ADS 507 Project/Top Tier Housing Prices by City.csv")

In [2]:
top_tier_df.columns[:10]

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'Metro', 'CountyName', '1/31/2000', '2/29/2000'],
      dtype='object')

In [3]:
top_tier_df.dtypes.value_counts()

float64    300
object       6
int64        2
Name: count, dtype: int64

In [4]:
top_tier_df.shape

(21658, 308)

In [5]:
top_tier_df.isna().sum()[:15]

RegionID          0
SizeRank          0
RegionName        0
RegionType        0
StateName         0
State             0
Metro          4511
CountyName        0
1/31/2000     12711
2/29/2000     12664
3/31/2000     12653
4/30/2000     12630
5/31/2000     12580
6/30/2000     12569
7/31/2000     12545
dtype: int64

In [7]:
top_tier_df.duplicated().value_counts()

False    21658
Name: count, dtype: int64

In [13]:
top_tier_df[top_tier_df['StateName'] == 'AZ']['Metro'].value_counts()

Metro
Phoenix-Mesa-Chandler, AZ       50
Prescott Valley-Prescott, AZ    20
Sierra Vista-Douglas, AZ        15
Tucson, AZ                      14
Lake Havasu City-Kingman, AZ    11
Flagstaff, AZ                   10
Show Low, AZ                     9
Payson, AZ                       8
Nogales, AZ                      6
Yuma, AZ                         5
Safford, AZ                      4
Name: count, dtype: int64

In [17]:
top_tier_df[top_tier_df['State'] == 'AZ']['CountyName'].value_counts()

CountyName
Maricopa County      35
Yavapai County       20
Pinal County         15
Cochise County       15
Pima County          14
Mohave County        11
Coconino County      10
Navajo County         9
Gila County           8
Apache County         8
Santa Cruz County     6
Yuma County           5
La Paz County         5
Graham County         4
Greenlee County       1
Name: count, dtype: int64