In [2]:
bottom_tier_df = pd.read_csv("G:/My Drive/Practical Data Engineering - 507/ADS 507 Project/Bottom Tier Housing Prices by City.csv")

In [4]:
bottom_tier_df.shape

(20105, 308)

In [3]:
bottom_tier_df.columns[:10]

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'Metro', 'CountyName', '1/31/2000', '2/29/2000'],
      dtype='object')

In [6]:
bottom_tier_df.dtypes.value_counts()

float64    300
object       6
int64        2
Name: count, dtype: int64

In [20]:
bottom_tier_df.isna().sum()[:15]

RegionID          0
SizeRank          0
RegionName        0
RegionType        0
StateName         0
State             0
Metro          3826
CountyName        0
1/31/2000     11691
2/29/2000     11633
3/31/2000     11621
4/30/2000     11603
5/31/2000     11562
6/30/2000     11542
7/31/2000     11510
dtype: int64

In [22]:
bottom_tier_df.duplicated().value_counts()

False    20105
Name: count, dtype: int64